
body{
    padding: 0;
    margin: 0;
    height:100%;
    background-color: rgb(86, 86, 197);
    display:flex;
    justify-content: center;
    align-items:center ;
}



.container{
    width:400px;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.dot{
    position:absolute;
    width:10px;
    height:10px;
    color:#000;
    background-color: #bbb;
    border-radius: 50%;
    display:inline-block;
    transform: rotate(calc(var(--i) * (360deg / 15))) translateY(35px);
    animation: animate 1.5s linear infinite;
    animation-delay: calc(var(--i) * 0.1s);
    opacity:0;
}

@keyframes animate{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

